body {
    background-image: url("images/bg.jpg");
}


h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

marquee{
    border: 10px outset grey;
    padding-left: 100px;
    padding-right: 100px;
    padding: 0px;
}

h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

canvas
{
    border: 5px outset black;
    background-color: white;
}

canvas.sizeDisplay
{
    border: 0px black;
}

.MadeWith{
    position:absolute;
    left: 10px;
    bottom: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 640px;
    
}
.containerSquared{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: relative;
}



