body {
    background-color: rgb(19, 140, 180);
    position: relative;
}


h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h4
{
    font-family: "Comic Sans MS", "Comic Sans";
    position: absolute;
    left: 0px;
    top: 0px;
}

canvas
{
    border: 5px outset black;
    background-color: white;
}

canvas.sizeDisplay
{
    border: 0px black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 640px;
    
}
.containerSquared{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

table, th, td{
    
    border: 1px solid black;
}

table
{
    background-color: black;
    width: 65%;
}

th,td
{
    background-color: white;
}

button{
    
    width: 30%;
    height: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    
}

