body {
    background-color: white;
}


h1{
    font-family: Arial, Helvetica, sans-serif
}

h2{
    font-family: Arial, Helvetica, sans-serif
}

h3
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

h4
{
    font-family: Arial, Helvetica, sans-serif;
}

h5
{
    font-family: Arial, Helvetica, sans-serif;
    
}

img{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 30px;
    top: 30px;
}

button{
    border-style: none;
    border: none;
    background-color: transparent;
    color: blue;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.searchWindow{
    width: 20vw;
    min-width: 200px;
    height: 270px;
    
}

.searchContainer
{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
}

.logout{
    position: absolute;
    left: 10px;
    top: -15px;
    
}

.deleteAccount{
    position: absolute;
    left: 10px;
    top: 30px;
}

input{
    margin-top: 5px;
    margin-left: 10px;
}


table, th, td{
    
    border: 1px solid black;
}

table
{
    width: 40vw;
    min-width: 300px;
    
}
    
