body {
    background-color: rgb(19, 140, 180);
}


h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

canvas
{
    border: 5px outset black;
    background-color: white;
}

canvas.sizeDisplay
{
    border: 0px black;
}

.container{
    display: flex;
    justify-content: center;
}

table, th, td{
    
    border: 1px solid black;
}

table
{
    background-color: black;
}

th,td
{
    background-color: white;
}

button{
    
    width: 100%;
    height: 50%;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: white;
}

button:hover{
    width: 100%;
    height: 50%;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: grey;
}