


h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

canvas
{
    border: 5px outset black;
    background-color: white;
}


.containerSquared{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 640px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

